body {
  font-family: "Lato", "oswald", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
