@font-face {
  font-family: "Lato";
  src:
    url("../../fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../../fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
