$primary-font: "Lato", sans-serif;

@include font-face("Lato", url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), 400);
@include font-face("Oswald", url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), 400);

