/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/header.scss";

/* FONTS */

/* Lato Regular (400) */
@font-face {
  font-family: "Lato";
  src:
    url("../fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Oswald Regular (400) */
@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
