@charset "UTF-8";
@import "./common/variables";
@import "./common/mixins";
@import "./common/fonts";
@import "./common/global";
@import "./common/visually-hidden";
@import "./blocks/page";
@import "./blocks/main-container";
@import "./blocks/main-header";
@import "./blocks/main-nav";
@import "./blocks/logo";
@import "./blocks/link";

/* ==== INDEX ==== */
@import "./blocks/hero";
@import "./blocks/programs";
@import "./blocks/guide";
@import "./blocks/parameters";
@import "./blocks/example";
@import "./blocks/result";

/* ==== CATALOG ==== */
@import "./blocks/catalog-card";
@import "./blocks/catalog";
@import "./blocks/card-more";
@import "./blocks/additional-product";
@import "./blocks/additional-list";
@import "./blocks/additional-card";
@import "./blocks/banner";
@import "./blocks/product";
@import "./blocks/subscription";
@import "./blocks/map";

/* ==== CONTACTS + FOOTER ==== */
@import "./blocks/contacts";
@import "./blocks/main-footer";
@import "./blocks/social-list";
@import "./blocks/logo-academy";
