@charset "UTF-8";
@import "./common/variables";
@import "./common/mixins";
@import "./common/fonts";
@import "./common/global";
@import "./common/visually-hidden";
@import "./blocks/title";
@import "./blocks/container";
@import "./blocks/main-container";
@import "./blocks/main-header";
@import "./blocks/main-nav";
@import "./blocks/logo";
@import "./blocks/link";
@import "./blocks/button";
@import "./blocks/hero";
@import "./blocks/programs";
@import "./blocks/program-card";
@import "./blocks/guide";
@import "./blocks/parameters";
@import "./blocks/example";
@import "./blocks/result";
@import "./blocks/catalog-card";
@import "./blocks/catalog-list";
@import "./blocks/catalog";
@import "./blocks/card-more";
@import "./blocks/additional-product";
@import "./blocks/additional-list";
@import "./blocks/additional-card";
@import "./blocks/banner";
@import "./blocks/product";
@import "./blocks/subscription";
@import "./blocks/contacts-info";
@import "./blocks/main-footer";
@import "./blocks/social-list";
@import "./blocks/logo-academy";
