.additional-product {
  padding: 25px 0 35px;
}

@media (min-width: 768px) {
  .additional-product {
    padding: 70px 0 75px;
  }
}

@media (min-width: 1440px) {
  .additional-product {
    padding: 77px 0 87px;
  }
}

.additional-product__title {
  color: #000000;
  text-align: center;
  font-family: "oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;

  position: relative;
  margin: 0 var(--padding-wrapper-offset, 0);
  margin-bottom: 32px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .additional-product__title {
    --padding-wrapper-offset: 40px;
    margin-bottom: 80px;
    line-height: 36px;
  }
}

@media (min-width: 1440px) {
  .additional-product__title {
    --padding-wrapper-offset: 0;
  }
}

.additional-product__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .additional-product__content {
    flex-direction: row;
    gap: 80px;
  }
}

.additional-product__descriptions {
  color: #ffffff;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
