.additional-product {
  padding: 25px 0 35px;
}

@media (min-width: $tablet-width) {
  .additional-product {
    padding: 71px 0 73px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    padding: 76px 0 91px;
  }
}

.additional-product__title {
  color: $color-text;
  text-align: center;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;

  position: relative;
  margin: 0 var(--padding-wrapper-offset, 0);
  margin-bottom: 35px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .additional-product__title {
    --padding-wrapper-offset: 40px;
    margin-bottom: 78px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product__title {
    --padding-wrapper-offset: 0;
    margin-bottom: 82px;
  }
}

.additional-product__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .additional-product__content {
    flex-direction: row;
    gap: 80px;
  }
}

.additional-product__descriptions {
  color: $basic-white;
  font-family: $font-secondary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
