.banner {
  padding: 58px 61px 44px 58px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/cat-backpack@1x.webp") type("image/webp") 1x, url("../../images/cat-backpack@2x.webp") type("image/webp") 2x, url("../../images/cat-backpack@1x.jpg") type("image/jpg") 1x, url("../../images/cat-backpack@2x.jpg") type("image/jpg") 2x);
  background-position: 100% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .banner {
    min-height: 200px;
    padding: 60px 125px 60px 78px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    padding: 56px 42px 42px;
  }
}

@media (min-width: $tablet-width) {
  .banner__wrapper {
    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .banner__wrapper {
    flex-direction: column;
    height: 100%;
  }
}

.banner__wrapper::before {
  content: "";
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 48px;
  background-color: #ffffff;
  mask-image: url("../../icons/gift.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

@media (min-width: $tablet-width) {
  .banner__wrapper::before {
    margin: 0 auto 0 0;
  }
}

@media (min-width: $desktop-width) {
  .banner__wrapper::before {
    margin: 0 auto auto;
  }
}

.banner__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.banner__text:last-of-type {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .banner__text {
    max-width: 161px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .banner__text {
    text-align: center;
  }
}
