.card-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-more::before {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
  background-color: #d3d3d3;
  mask-image: url("../../icons/plus.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

@media (min-width: $tablet-width) {
  .card-more::before {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
    mask-image: url("../../icons/stack.svg#plus");
  }
}

@media (min-width: $desktop-width) {
  .card-more::before {
    margin-bottom: 40px;
  }
}

@media (min-width: $tablet-width) {
  .card-more {
    padding: 50px 35px 38px;
    border: 2px solid #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .card-more {
    padding: 50px 37px 35px;
    border: 2px solid #f2f2f2;
  }
}

.card-more__info {
  margin-bottom: 21px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card-more__info {
    max-width: 170px;
  }
}

.card-more__title {
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .card-more__title {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .card-more__title {
    margin-bottom: 26px;
  }
}

.card-more__description {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-family: $font-secondary;
}

@media (min-width: $tablet-width) {
  .card-more__description {
    font-size: 16px;
    line-height: 18px;
  }
}

.card-more__buttons {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

@media (min-width: $tablet-width) {
  .card-more__buttons {
    margin-top: auto;
  }
}
