.catalog__title {
  color: #000000;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;

  position: relative;
  padding: 25px 0 40px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding: 40px 0 84px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding: 20px 0 84px;
  }
}

.catalog__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100svw;
  height: 1px;
  background-color: #e6e6e6;
  pointer-events: none;
}

@media (min-width: $tablet-width) {
  .catalog__title::before {
    display: none;
  }
}
