
.catalog__title {
  color: #000000;
  font-family: "oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;

  position: relative;
  padding: 25px 0 40px;
}

@media (min-width: 768px) {
  .catalog__title {
    padding: 40px 0 84px;
  }
}

@media (min-width: 1440px) {
  .catalog__title {
    padding: 20px 0 84px;
  }
}


.catalog__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100svw;
  height: 1px;
  background-color: #e6e6e6;
  pointer-events: none;
}


@media (min-width: 768px) {
  .catalog__title::before {
    display: none;
  }
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .catalog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 140px 60px;
    padding-top: 80px;
  }
}

@media (min-width: 1440px) {
  .catalog-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 143px 80px;
  }
}

.catalog-list__item {
  position: relative;
  display: flex;
  padding: 20px 0 25px;
}

.catalog-list__item--more {
  padding: 26px 0;
}

.catalog-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background: #e6e6e6;
  pointer-events: none;
}

@media (min-width: 768px) {
  .catalog-list__item::before {
    display: none;
  }
}

.catalog-list__item:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background: #e6e6e6;
  pointer-events: none;
}

@media (min-width: 768px) {
  .catalog-list__item:last-of-type::after {
    display: none;
  }

  .catalog-list__item {
    padding: 0;
  }
}

.catalog-list__card {
  width: 100%;
  height: 100%;
}
