.example {
  padding: 24px 0 40px;
  background-color: #eaeaea;
}

@media (min-width: $tablet-width) {
  .example::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 45px;
    background-color: #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .example::before {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0 0 100px;
    background: linear-gradient(to bottom, #ffffff 620px, #eaeaea 620px);
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding: 0 0 74px;
    background: linear-gradient(to bottom, #ffffff 136px, #eaeaea 136px);
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}

.example__text {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example__text {
    margin-bottom: 104px;
  }
}

@media (min-width: $desktop-width) {
  .example__text {
    max-width: 436px;
    margin-bottom: 0;
  }
}

.example__title {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .example__title {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    margin-bottom: 76px;
  }
}

.example__description {
  color: #444444;
  font-family: $font-secondary;
}

@media (min-width: $desktop-width) {
  .example__description {
    padding-top: 70px;
  }
}

.example__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .example__info {
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;
    margin-top: 54px;
  }
}

@media (min-width: $desktop-width) {
  .example__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin-top: 68px;
  }
}

.example__summary {
  margin: 0;
  font-family: $font-primary;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .example__summary {
    flex-direction: row;
    align-items: center;
    gap: 66px;
  }
}

.example__icon {
  width: 40px;
  height: 40px;
  background-color: currentColor;
  mask-image: url("../../icons/stack.svg#thumb-arrows");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  display: block;
}

.example__slider {
  position: relative;
  max-width: 280px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .example__slider {
    max-width: 560px;
  }
}

.example__image img {
  display: block;
}

.example__image--before {
  --clip-before: 0 50% 0 0;
  clip-path: inset(var(--clip-before));
}

.example__image--after {
  --clip-after: 0 0 0 50%;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: inset(var(--clip-after));
}

.example__range {
  --x: 50%;
  position: absolute;
  top: 0;
  left: var(--x);
  height: 100%;
  width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  z-index: 2;
  touch-action: none;
  cursor: ew-resize;
}

.example__range::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: #666666;
  border-radius: 2px;
  transform: translateX(-50%);
  z-index: -1;
}

.example__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #666666;
  z-index: 3;
  color: #666666;
}

.example__button svg {
  fill: currentColor;
  transition: fill 0.3s;
  stroke: none;
  display: block;
}

.example__range:hover::before {
  background-color: #68b738;
}

.example__range:hover .example__button {
  color: #68b738;
  border-color: #68b738;
}

.example__range:active::before {
  background-color: rgba(104, 183, 56, 0.6);
}

.example__range:active .example__button {
  color: rgba(104, 183, 56, 0.6);
  border-color: rgba(104, 183, 56, 0.6);
}

.example__button:focus-visible {
  outline: 2px solid #68b738;
  outline-offset: 4px;
}
