.guide {
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .guide {
    margin-bottom: 47px;
  }
}

@media (min-width: $desktop-width) {
  .guide {
    margin-bottom: 70px;
  }
}

.guide__title {
  color: #000000;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;

  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .guide__title {
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .guide__title {
    margin-bottom: 72px;
  }
}

.guide__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  counter-reset: guide 0;
}

@media (min-width: $tablet-width) {
  .guide__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 76px 60px;
  }
}

@media (min-width: $desktop-width) {
  .guide__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.guide__item {
  color: #444444;
  font-family: $font-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 20px;
  max-width: 470px;
}

.guide__item::before {
  content: "";
  position: relative;
  grid-column: 1 / 2;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
}

@media (min-width: $tablet-width) {
  .guide__item::before {
    width: 80px;
    height: 80px;
  }

  .guide__item::after {
    content: counter(guide);
    position: relative;
    display: flex;
    justify-content: center;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    margin-top: -40px;
    font-family: $font-primary;
    font-size: 280px;
    line-height: 1;
    color: #f2f2f2;
    counter-increment: guide 1;
    z-index: -1;
  }
}

.guide__item--food::before {
  background-image: url("../../icons/icon-food.svg");
  background-size: 24.8px 28px;
}

.guide__item--powder::before {
  background-image: url("../../icons/icon-powder.svg");
  background-size: 26px 28.5px;
}

.guide__item--replace::before {
  background-image: url("../../icons/icon-replace.svg");
  background-size: 25px 30px;
}

.guide__item--change::before {
  background-image: url("../../icons/icon-change.svg");
  background-size: 26.1px 31px;
}

@media (min-width: $tablet-width) {
  .guide__item {
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    align-items: start;
    gap: 30px;
    max-width: 324px;
    margin-right: 74px;
  }
}

@media (min-width: $desktop-width) {
  .guide__item {
    margin-right: 0;
  }
}

.guide__item-text {
  grid-column: 2 / -1;
  margin: 0;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .guide__item-text {
    margin-top: 0;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}
