.hero {
  position: relative;
  margin-bottom: 20px;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 302px;
  z-index: 0;
  pointer-events: none;
  display: block;

  background-color: #4d4d4d;
  background-image:
    linear-gradient(
      0deg,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    image-set(
      url("../../images/hero/background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/hero/background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/hero/background-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../images/hero/background-mobile@2x.jpg") type("image/jpeg") 2x
    );

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

@media (min-width: $tablet-width) {
  .hero::after {
    background: none;
    width: 100%;
    height: 100%;
    left: 0;
  }

  .hero {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    position: relative;
    min-height: 694px;
    margin-bottom: 82px;
    padding: 184px 0;
    overflow: hidden;
  }

  .hero::after {
    left: 50%;
    height: 100%;
    background:
      linear-gradient(
        to right,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      image-set(
        url("../../images/hero/background-cat@1x.webp") type("image/webp") 1x,
        url("../../images/hero/background-cat@2x.webp") type("image/webp") 2x,
        url("../../images/hero/background-cat@1x.jpg") type("image/jpg") 1x,
        url("../../images/hero/background-cat@2x.jpg") type("image/jpg") 2x
      );
    background-repeat: no-repeat;
    background-color: #4d4d4d;
    background-size: contain;
    background-position: center, center right 100%;
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    padding-top: 40px;
  }
}

.hero__text {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .hero__text {
    max-width: 420px;
    margin-left: 90px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .hero__text {
    margin-left: 80px;
  }
}

.hero__title {
  margin: 0 0 25px;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .hero__title {
    color: #000000;
    margin-bottom: 40px;
  }
}

.hero__description {
  margin: 25px 0 29px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .hero__description {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .hero__description {
    margin-bottom: 52px;
  }
}

.hero__image {
  align-self: center;
  margin-bottom: 3px;
}

@media (min-width: $tablet-width) {
  .hero__image {
    order: 4;
    z-index: -1;
    margin-top: -83px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .hero__image {
    position: absolute;
    top: -41px;
    right: 221px;
    margin: 0;
  }
}

.hero__image img {
  display: block;
}

.hero__button {
  align-self: stretch;
}

@media (min-width: $tablet-width) {
  .hero__button {
    align-self: flex-start;
    min-width: 244px;
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 90px;
  }
}

@media (min-width: $desktop-width) {
  .hero__button {
    margin-left: 80px;
  }
}
