.link {
  font-family: $font-primary;
  color: #000000;
  text-decoration: none;
}

.link:focus-visible {
  outline: 2px solid #68b738;
  outline-offset: 2px;
}

.link--arrow {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.link--arrow::after {
  content: "";
  width: 32px;
  height: 13px;
  background-color: #000000;
  mask-image: url("../../icons/arrow.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
}

.link--arrow:hover::after,
.link--arrow:focus-visible::after {
  mask-image: url("../../icons/arrow-big.svg");
}

.link--arrow:active {
  opacity: 0.3;
}

.link--arrow:active::after {
  mask-image: url("../../icons/arrow-big.svg");
}

@media (min-width: $tablet-width) {
  .link--arrow::after {
    margin-left: 10px;
  }
}
