.logo-academy {
  font-family: $font-secondary;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .logo-academy {
    justify-content: end;
  }
}

.logo-academy::after {
  content: "";
  position: relative;
  display: block;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/logo-html-academy.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: currentColor;
}

@media (min-width: $tablet-width) {
  .logo-academy::after {
    margin-left: 23px;
  }
}

.logo-academy:hover,
.logo-academy:focus-visible {
  color: #68b738;
}

.logo-academy:active {
  color: #68b738;
  opacity: 0.3;
}

.logo-academy:focus-visible {
  outline: 2px solid #68b738;
  outline-offset: 2px;
}
