.main-nav {
  font-family: $font-primary;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 610px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 18px 36px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    gap: 17px 34px;
  }
}

.main-nav__item {
  position: relative;
  text-align: center;
  padding: 23px 0;
}

.main-nav__item::before,
.main-nav__item:last-of-type::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

@media (min-width: $tablet-width) {
  .main-nav__item::before,
  .main-nav__item:last-of-type::after {
    content: none;
  }
}

.main-nav__item:last-of-type::after {
  bottom: 0;
}

.main-nav__item::before {
  top: 0;
}

.main-nav__item--current .main-nav__link {
  border-color: transparent;
}

.main-nav__item--current .main-nav__link::after {
  width: 100%;
}

.main-nav__link:hover::after {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item--white .main-nav__link::after {
    background-color: #ffffff;
  }
}

.main-nav__link {
  display: inline-flex;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}


@media (min-width: $tablet-width) {
  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #68b738;
    transition: width 0.3s;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    font-size: 20px;
    line-height: 24px;
  }
}

.main-nav__link:hover,
.main-nav__link:focus-visible {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav--closed {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav--closed {
    display: flex;
  }
}

.main-nav--opened {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .main-nav--opened {
    position: relative;
    background-color: transparent;
  }
}

.main-nav--nojs {
  display: flex;
}

.main-nav--nojs .main-nav__item::before {
  left: calc(0px - $gutter);
  width: calc(100% + $gutter * 2);
}

@media (min-width: $desktop-width) {
  .main-nav--index-desktop .main-nav__link {
    color: #ffffff;
  }

  .main-nav--index-desktop .main-nav__link::after {
    background-color: #ffffff;
  }

  .main-nav--index-desktop .main-nav__item--current .main-nav__link {
    border-color: #ffffff;
  }

  .main-nav--index-desktop .main-nav__link:hover,
  .main-nav--index-desktop .main-nav__link:focus-visible {
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
  }

  .main-nav--index-desktop .main-nav__link:active {
    opacity: 1;
    color: rgba(255, 255, 255, 0.3);
  }
}
