.main-footer__map {
  position: relative;
}

.main-footer__map-iframe {
  position: relative;
  display: block;
  width: 100%;
  border: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .main-footer__map-iframe {
    height: 400px;
  }
}

.main-footer__map-nojs {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main-footer__map-nojs img {
  display: block;
  width: 100%;
  height: revert-layer;
  object-fit: cover;
}
