
.product__title {
  color: #222222;
  text-align: center;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}


.product__content {
  color: #444444;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.product__button {
  color: #ffffff;
  font-family: $font-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
