.programs {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: stretch;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}
