.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  max-width: 367px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .result {
    gap: 43px;
    margin-bottom: 0;
  }
}

.result__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 124px;
  padding: 14px 20px 16px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .result__item {
    padding: 15px 25px 20px;
  }
}

@media (min-width: 1440px) {
  .result__item {
    padding: 14px 25px 20px;
  }
}

.result__description {
  font-family: "Lato", "Arial", sans-serif;
  position: absolute;
  top: 46px;
  right: 14%;
  left: 12%;
  padding: 0 14px;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #eaeaea;
}

@media (min-width: 768px) {
  .result__description {
    top: 62px;
    right: auto;
    left: auto;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    background-color: #ffffff;
  }
}

@media (min-width: 1440px) {
  .result__description {
    background-color: #eaeaea;
  }
}

.result__number {
  margin: 0;
  font-family: "Oswald", "Impact", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .result__number {
    font-size: 30px;
    line-height: 36px;
  }
}
