.social-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 18px 0 21px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .social-list {
    padding: 0;
    border: 0;
  }
}

.social-list__link {
  display: block;
}

.social-list__link::before {
  content: "";
  display: block;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: 28px;
  height: 22px;
  position: relative;
  mask-image: var(--icon);
  background-color: #666666;
}

.social-list__link--vkontakte {
  --icon: url("../../icons/icon-vk.svg");
}

.social-list__link--youtube {
  --icon: url("../../icons/icon-youtube.svg");
}

.social-list__link--telegram {
  --icon: url("../../icons/icon-telegram.svg");
}

.social-list__link:focus-visible {
  outline: 2px solid #68b738;
  outline-offset: 2px;
}

.social-list__link:hover::before,
.social-list__link:focus-visible::before {
  background-color: #68b738;
}

.social-list__link:active::before {
  background-color: #68b738;
  opacity: 0.3;
}
